body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(38, 20, 43);
	font-family: 'Lobster', cursive;
}

h1 {
	display: flex;
	justify-content: center;
	text-align: center;
	background-color: red;
	color: gold;
	margin: auto;
	padding: 1.5%;
	border: solid;
	border-radius: 20px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	text-shadow: 1px 1px 0px black;
	font-size: 3em;

}

h2 {
	display: flex;
	justify-content: center;
	color: white;
	margin: 10px;
}

.play-area {
	display: flex;
	flex-direction: column;
	background-color: darkgreen;
	padding: 5% 15% 5% 15%;
	border: solid;
	border-radius: 20px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.play-cards {
	display: flex;
	flex-direction: column;
}

.card {
	margin: 5px;
}

#players-hand-container {
	display: flex;
	flex-direction: row;
	border: 5px dotted gray;
}

#dealers-hand-container {
	display: flex;
	flex-direction: row;
}


#player-commands {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#hit-btn {
	background-color: #4CAF50; 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	font-family: 'Lobster', cursive;
  }

#stay-btn {
	background-color: #ff0000; 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	font-family: 'Lobster', cursive;
  }

  #hit-btn[disabled] {
	  background-color: grey;
  }

  #restart-btn-container {
	  display: flex;
	  justify-content: center;	  
  }

  #restart-btn {
	margin: 10px;
	background-color: orange;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	font-family: 'Lobster', cursive;
  }